<div class="main-content">
  <form class="recipe-container" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="tags">
      <span>Tags:</span>
      <input type="text" id="tag" pInputText formControlName="tags" placeholder="#">
    </div>
    <div class="recipe-info">
      <label for="time">time:
        <input type="time" id="time" pInputText formControlName="time">
      </label>
      <label for="portions">portions:
        <input type="number" id="portions" pInputNumber formControlName="portions" [min]="0" [max]="99">
      </label>
    </div>
    <div class="title">
      <label for="title">
        <input id="title" name="title" pInputText formControlName="title" placeholder="Title">
      </label>
    </div>
    <div class="description">
      <label for="description">
        <textarea id="description" name="description" pInputTextarea formControlName="description" placeholder="Description"></textarea>
      </label>
    </div>
    <div id="save-btn-container">
      <button type="submit" id="save-btn" pButton label="Save"></button>
    </div>
  </form>
</div>
