<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="forGroup">
      <span>Jump into recipes world!</span>
    </div>
    <div class="formGroup">
      <span class="p-float-label">
        <input pInputText id="email" formControlName="email" />
        <label htmlFor="email">example@email.com</label>
      </span>
    </div>
    <div class="formGroup">
      <span class="p-float-label">
        <p-password id="password" formControlName="password" [feedback]="false"/>
        <label htmlFor="password">password</label>
      </span>
    </div>
    <div class="formGroup">
      <p-button label="Submit" type="submit"></p-button>
    </div>
  </form>
  <div class="toLogin">
    Click <a routerLink="/register">here</a>  to sign in.
  </div>
</div>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast>
